6_entwickeln_und_bereitstellen_von_anwendungssystemen/exercises_xcode/exercises_xcode.xcodeproj/
6_entwickeln_und_bereitstellen_von_anwendungssystemen/exercises_xcode/exercises_xcode.xcodeproj/*
6_entwickeln_und_bereitstellen_von_anwendungssystemen/exercises/a.out
